body{
    scroll-behavior: smooth;
}

h1{
    text-align: center;
    background-color: white;
    width: auto;
    border: 3px solid black;
    padding: 0px;
    margin: 20px;
     color:black;
  }

  p {
    background-color: white;
    width: 300px;
    border: 3px solid pink;
    padding: 50px;
    margin: 20px;
  }

 body {
        background-image: url('images/background.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; 

    }
    table,thead,tbody,tr,td {
        border: 0px purple; 
        text-align: center; ;
    }
    table {
        border: 0px solid white;
    }
    td {
        width: 25%px;
        height: 15%px;
        border-collapse: collapse;
        font-size: 15px;
       border: 0px solid black;
    }
    .blue {
        background-color: #14BDE6;
        color: black;
    }
    .violet {
        background-color:   #066100;
        color: white;   
    }
    .violet1 {
        background-color: #B1B6E4;
    }
    .red {
        background-color:   #ff0000;
        color: black;
    }
    .orange {
        background-color: #e622d6 ;
    }
    .yellow {
        background-color:#1bf56f
    }
    .blue1 {
        background-color: #a390f9 ;
    }
    .yellowgreen {
        background-color: #44a8bf;
    }
    .yellow {
        background-color: #1bf56f;
    }
    .yellowgreen3 {
        background-color: #1f8ee3;
    }
    .green3 {
        background-color: #ae5215;
    }
    .text {
        border: 0px solid white;
        color: white;
    }
